<div class="page-header">
	<h1>Controle de Iluminação</h1>
</div>	
<!-- Box -->
<div class="jumbotron">
	<!-- content -->
	<div class="container">
		<!-- Botoes de Controle -->
		
		<div class="col-md-4">
			<h3>Lâmpada 1</h3>
			<button type="button" id="lamp1" class="btn btn-danger btn-lg" align="center"> <span class="glyphicon glyphicon-off"></span> </button>
		</div>
		
		<div class="col-md-4">
			<h3>Lâmpada 2</h3>
		    <button type="button" id="lamp2" class="btn btn-danger btn-lg" align="center"> <span class="glyphicon glyphicon-off"></span> </button>
		</div>
		<div id="msg"></div>
		<div id="debug"></div>
	<!-- content -->	
	</div>
<!-- jumbotron --> 
</div>

<script>
	$(document).ready(function() {
		window.console.log('All ready to go');
		function debug(str) {
			$("#debug").append("<p>"+str+"<p>");
		}
		
		try {
			window.console.log("Setting up socket");
			// ws = new WebSocket("ws://127.0.0.1:5331");
			ws = new WebSocket("ws://10.0.0.50");
										
			ws.onopen = function() {
				debug("Connected");
			};
			
			ws.onmessage = function(evt) {
				debug("Got message");
				$("#msg").append("<p>"+evt.data+"<p>");
			};
			
			ws.onerror = function(evt) {
				debug("ERROR!");
				$("#msg").append("<p> ERROR: "+evt.data+"<p>");
			};
			
			ws.onclose = function() {
				debug("Closed");
			};
			
			$("#lamp1").click(function() {
				ws.send("D031");
			});
			
			$("#lamp2").click(function() {
				ws.send("D030");
			});	
		}
		catch(error) {
			window.console.log('<p>Error'+error);
		}
	});
</script>