<div class="page-header">
	<h1>Controle do Televisor</h1>
</div>

<div class="jumbotron">
	<div class="container">
		<div class="col-md-4"> </div>
		<div class="col-md-4">
			<div class = "btn-group-vertical">
				<h2> POWER </h2>
				<button type="button" class="btn btn-danger"> <span class="glyphicon glyphicon-off"></span> </button>
			</div>
		</div>
		<div class="col-md-4"> </div>
	</div>
	<br>
	<div class="container">
		<div class="col-md-4"> 
			
			<div class="btn-group">
				<input type="text" id="txtCanal" class="form-control">
				
				<button id="foo" type="button" class="btn btn-default btn-lg"> 1 </button>
				<button  type="button" class="btn btn-default btn-lg"> 2 </button>
				<button  type="button" class="btn btn-default btn-lg"> 3 </button>
				<br>
							
				<button type="button" class="btn btn-default btn-lg"> 4 </button>
				<button type="button" class="btn btn-default btn-lg"> 5 </button>
				<button type="button" class="btn btn-default btn-lg"> 6 </button>
					
				<br>
				<button type="button" class="btn btn-default btn-lg"> 7 </button>
				<button type="button" class="btn btn-default btn-lg"> 8 </button>
				<button type="button" class="btn btn-default btn-lg"> 9 </button>
				<br>
				<button type="button" class="btn btn-default btn-lg"> 0 </button>

			</div>
		</div>
		<div class="col-md-4">
			<div class="btn-group-vertical">
				<h2> VOLUME </h2>
				<button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-chevron-up"></span> </button>
				<button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-chevron-down"></span> </button>
			</div>
		</div>
		<div class="col-md-4"> 
			<div class = "btn-group-vertical">
				<h2> CANAL </h2>
				<button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-chevron-up"></span> </button>
				<button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-chevron-down"></span> </button>
			</div>
		</div>
	</div>
</div>
	
<script>
	$(document).ready(function(){
		$( "#foo" ).bind( "click", function() {
			txtCanal.value = txtCanal.value + $(this).text();
		});
		
		$('txtCanal').attr('maxlength', 3);		
	});
</script>

	