<div class="container" ng-controller='Control'>
	<div class="starter-template">
      <h1>Controle Ar Condicionado</h1>
      <!-- Box -->
      <div class="jumbotron"> 
        
        <!-- Botoes de Controle -->
        <div class"btn-group-vertical">
          <div clas="btn-group-vertical1">
            <button ng-click='sendAction("/powerar")' text-align="center" type="button" class="btn btn-danger">
              <span class="glyphicon glyphicon-off"></span> 
            </button>
            <button ng-click='sendAction("/swing")' text-align="center" type="button" class="btn btn-default">swing</button>
          </div>
          <div class="btn-group-vertical">
            <button ng-click='sendAction("/sobeTemp")' type="button" class="btn btn-default"> 
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>

            <button class="btn btn-default">temperatura</button>

            <button ng-click='sendAction("/desceTemp")' type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </div>
        </div>
        <!--btn-vertical-->
        
        <div class="btn-group">
          <button ng-click='sendAction("/acao1")' type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-fire"></span>
          </button>

          <button ng-click='sendAction("/acao2")' type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-tint"></span>
          </button>

          <button ng-click='sendAction("/acao3")' type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-cloud"></span>
          </button>
        </div>
        <br>
        <div class="btn-group">
          <button ng-click='sendAction("/desceVentilacao")' type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-backward"></span>
            <span class="glyphicon glyphicon-leaf"></span>
          </button>

          <button ng-click='sendAction("/sobeVentilacao")' type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-leaf"></span> 
            <span class="glyphicon glyphicon-forward"></span>
          </button>
        </div>
      </div>
      <!-- jumbotron --> 
      
    </div>
    <!-- statter-template --> 
</div>