<!-- jumbotron --> 
<div class="jumbotron"> 

	<!-- Botoes de Controle -->
	<label for="liga1">Luz 1</label>
	<br>
	<button id="liga1" align="center" type="button" class="btn btn-success" > <span class="glyphicon glyphicon-off"></span> </button>
	<button id="desliga1" align="center" type="button" class="btn btn-danger" > <span class="glyphicon glyphicon-off"></span> </button>
	<br>
	<label for="liga2">Luz 2</label>
	<br>
	<button id="liga2" align="center" type="button" class="btn btn-success" > <span class="glyphicon glyphicon-off"></span> </button>
	<button id="desliga2" align="center" type="button" class="btn btn-danger" > <span class="glyphicon glyphicon-off"></span> </button>
</div>