<div class="container">
    <div class="starter-template">
      <h1>Controle do Televisor</h1>
      <!-- Box -->
      <div class="jumbotron"> 
        
        <!-- Botoes de Controle -->
        <div class"btn-group-vertical">
          <div clas="btn-group-vertical1">
            <button text-align="center" type="button" class="btn btn-danger"> <span class="glyphicon glyphicon-off"></span> </button>
          </div>
          <div class="btn-group-vertical">
            <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-up"></span> </button>
            <button class="btn btn-default">volume</button>
            <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-down"></span> </button>
          </div>
          <div class="btn-group-vertical">
            <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-up"></span> </button>
            <button class="btn btn-default">canal</button>
            <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-down"></span> </button>
          </div>
        </div>
        <!--btn-vertical-->
        
        <div class="btn-group">
          <button type="button" class="btn btn-default"> 1 </button>
          <button type="button" class="btn btn-default"> 2 </button>
          <button type="button" class="btn btn-default"> 3 </button>
        </div>
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-default"> 4 </button>
          <button type="button" class="btn btn-default"> 5 </button>
          <button type="button" class="btn btn-default"> 6 </button>
        </div>
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-default"> 7 </button>
          <button type="button" class="btn btn-default"> 8 </button>
          <button type="button" class="btn btn-default"> 9 </button>
        </div>
        <br>
        <div class="btn-group">
          <button disabled type="button" class="btn btn-default"> * </button>
          <button type="button" class="btn btn-default"> 0 </button>
          <button disabled type="button" class="btn btn-default"> * </button>
        </div>
      </div>
      <!-- jumbotron --> 
      
    </div>
    <!-- statter-template --> 
</div>