<!doctype html>
<html ng-app>
    <head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">		
		
		<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">	
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/starter-template.css">
        <link href="css/simple-sidebar.css" rel="stylesheet">
        
		<script src="js/angular-0.10.0.min.js" ng:autobind ></script>
        <script src="js/services.js" ></script>
        <script src="js/controllers.js" ></script>
		<script src="js/jquery.min.js"> </script>
		<script src="js/bootstrap.min.js"></script>
        
		
        <title> Projeto Automação </title>
	</head>
	
	
    <body>
		<!-- Sidebar -->
		<div id="wrapper">
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav" ng:controller="NavCtrl"> 
					<li ng:class="isActive('tv')" ng:click="activeTab = 'tv'"><a href="#/tv">Televisão</a></li>
					<li ng:class="isActive('ar')" ng:click="activeTab = 'ar'"><a href="#/ar">Ar Condicionado</a></li>
					<li ng:class="isActive('luz')" ng:click="activeTab = 'luz'"><a href="#/luz">Iluminação</a></li>
				</ul>			
			</div>
		
		
			<!-- Page content -->
			<div id="page-content-wrapper">
				<div class="page-content inset">
					<div class="row">
						<div class="col-md-12"> 
							<ng:view></ng:view>
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>
