<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Document</title>
	<script src="libs/jquery.min.js"></script>
            
    <script type="text/javascript">
		$(document).ready(function() {
			window.console.log('All ready to go');
			function debug(str) {
				$("#debug").append("<p>"+str+"<p>");
			}
			
			try {
				window.console.log("Setting up socket");
               // ws = new WebSocket("ws://127.0.0.1:5331");
               ws = new WebSocket("ws://10.1.1.177");
											
				ws.onopen = function() {
					debug("Connected");
				};
				
				ws.onmessage = function(evt) {
					debug("Got message");
					$("#msg").append("<p>"+evt.data+"<p>");
				};
				
				ws.onerror = function(evt) {
					debug("ERROR!");
					$("#msg").append("<p> ERROR: "+evt.data+"<p>");
				};
				
				ws.onclose = function() {
					debug("Closed");
				};
				
				$("#on").click(function() {
					ws.send("on");
				});
				
				$("#off").click(function() {
					ws.send("off");
				});	
			}
			catch(error) {
				window.console.log('<p>Error'+error);
			}
		});
    </script>
</head>

<body>
    <input id="on" type="button" value="On" />
    <input id="off" type="button" value="Off" />
    <div id="msg"></div>
    <div id="debug"></div>
</body>
</html>